[{capture append="oxidBlock_pageBody"}]
    [{if $oView->showRDFa()}]
        [{include file="rdfa/rdfa.tpl"}]
    [{/if}]

    [{block name="layout_header"}]
        [{include file="layout/header.tpl"}]
    [{/block}]

    [{assign var="blFullwidth" value=$oViewConf->getViewThemeParam('blFullwidthLayout')}]

    <div id="wrapper" [{if $sidebar}]class="sidebar[{$sidebar}]"[{/if}]>

        <div class="underdog">

            [{*//TODO Add option to switch between fullwidth slider and containered slider*}]
            <div class="[{if $blFullwidth}]container-fluid[{else}]container[{/if}]">
                <div class="row">
                   [{if $oView->getClassName()=='start' && $oView->getBanners() && !empty($oView->getBanners())}]
                    [{include file="widget/promoslider.tpl"}]
                   [{/if}]
               </div>
            </div>

            <div class="[{if $blFullwidth}]container-fluid[{else}]container[{/if}]">
                <div class="content-box">

                   [{if $oView->getClassName() != "start" && !$blHideBreadcrumb}]
                    [{block name="layout_breadcrumb"}]
                    	[{include file="widget/breadcrumb.tpl"}]
                    [{/block}]
                   [{/if}]

                   [{$smarty.capture.loginErrors}]

                   <div class="row">
                        [{if $sidebar && $sidebar != "Right"}]
                        	<div class="col-12 col-lg-2 col-xl-2 [{$oView->getClassName()}]">
                            <div id="sidebar" class="mt-3">
                                [{include file="layout/sidebar.tpl"}]
                            </div>
                        </div>
                        [{/if}]

                       <div class="col-12[{if $start == $details}] col-lg-10[{/if}] content-col">

                            <div class="content mb-3" id="content">
                                [{block name="content_main"}]
                                [{include file="message/errors.tpl"}]

                                [{foreach from=$oxidBlock_content item="_block"}]
                                [{$_block}]
                                [{/foreach}]
                                [{/block}]
                            </div>
                       </div>
                        
                        [{if $sidebar && $sidebar == "Right"}]
                        <div class="col-12 col-md-3 [{$oView->getClassName()}]">
                            <div id="sidebar">
                                [{include file="layout/sidebar.tpl"}]
                            </div>
                        </div>
                        [{/if}]
                    </div>

                </div>
            </div>
        </div>

    </div>

    [{include file="layout/footer.tpl"}]

    [{block name="layout_init_social"}]
    [{/block}]

    <i class="fa fa-chevron-circle-up icon-4x" id="jumptotop"></i>
[{/capture}]
[{include file="layout/base.tpl"}]
